@font-face {
    font-family: "Nunito Sans";
    src: url(../Fonts/Nunito_Sans/NunitoSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(../Fonts/Nunito_Sans/NunitoSans-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(../Fonts/Nunito_Sans/NunitoSans-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Yeseva One";
    src: url(../Fonts/Yeseva_One/YesevaOne-Regular.ttf)
}  
* {
    margin: 0px;
    /* border: 1px solid black; */
    font: 400 11px/15px "Nunito Sans";
    box-sizing: border-box;
    padding: 0px;
}
button {
    cursor: pointer;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    transition-delay: 5s;
    transition-duration: 2s;
    transition-property: opacity;
    outline: 0px;
    border: 0px;
}
.pokras2 {
    background-color: #131313;
    background-size: 100%;
}
.pokras1 {
    background-position: center;
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Section1/Background.svg);
    background-size: cover;
    max-width: 100%;
}
button:hover {
    opacity: 0.7;
}
button:active {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    color: #333;
}
header {
    background-color:#131313;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 90px;
}
nav {
    display: flex;
    /* margin: auto; */
    margin-left: 100px;
}
.head:first-child  {
    color:rgba(227, 184, 115, 1);
}
nav a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin-right: 55px;
    text-transform: uppercase;
}
.active-link {
    color: rgba(227, 184, 115, 1);
}
.phone-number {
    margin-right: 45px;
    text-align: right;
    text-decoration-line: underline;
    color:rgba(227, 184, 115, 1);
}
.ebutton {
    padding: 11px 34px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(227, 184, 115, 1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;

}
.Step1 {
    /* background: url(../Images/Section1/Background.svg); */
    max-width: 1440px;
    margin: 0 auto;
    /* height: 707px;  */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    position: relative;
    z-index: 2;
}
/* .Step1:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
} */
/* .Step1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
} 
  */
/* .image-filter {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
    z-index: -2;
} */
.wrap1 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 194px 134px 208px;
}
.zagolovokh1 {
    font-family: "Yeseva One";
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    color: #FFFFFF; 
    margin-bottom: 19px;   
}
.rostovcolor {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: rgba(227, 184, 115, 1);
}
.op-text {
    font-size: 22px;
    font-weight: 400;
    font-family: "Nunito sans";
    line-height: 36px;  
    color: #FFFFFF;
    /* max-width: 504px; */
    height: 89px;
}
.br-mob {
    display: none;
}
.ebutton2 {
    padding: 18px 42px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(227, 184, 115, 1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0px;
    border: 0px;
    margin-right: 20px;
    margin-top: 41px;
}
.ebutton3 {
    padding: 17px 27px;
    text-transform: uppercase;
    color:  #FFFFFF;
    background: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border: 1px solid  #FFFFFF;
    box-sizing: border-box;
    outline: 0px;
}
.Step2 {
    max-width: 1440px;
    background: #131313;
    margin: 0 auto;
    padding-bottom: 257px;
}
.wrap2 {
    padding: 107px 134px;   
}
/* .project-navigation {
} */
.project-link {
    display: flex;
    list-style-type: none;
    /* margin-left: 602px; */
    margin-left: auto;
    justify-content: space-between;
    /* float: right; */
    width: 679px; 
    padding-right: 56px;
}
li>a {
    /* display: flex; */
    text-decoration: none;
    text-transform: uppercase;
    font: normal 400 14px/19px "Yeseva One";
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.project-link li {

    margin-bottom: 45px;
}
.active-project-link {
    /* text-decoration: underline; */
    color: #E3B873;
    /* font: normal 400 14px/19px "Yeseva One"; */
    /* text-transform: uppercase; */
    border-bottom: 1px solid #E3B873;
}
.content>h2 {
    font: normal 400 27px/37px "Yeseva one";
    text-transform: uppercase;
    width: 253px;
    color: #E3B873;
    letter-spacing: -0.07em;
    margin-bottom: 34px;
}
.content>p {
    font: normal 400 14px/27px "Nunito Sans";
    width: 442px;
    color: #FFFFFF;
    margin-bottom: 42px
}
.project-info-wrap h2 {
    font: normal 400 18px/25px "Yeseva One";
    text-transform: uppercase;
    color: #E3B873;
}
.project-info-wrap span {
    font: normal 400 13px/21px "Nunito Sans";
    color: #FFFFFF;
}
.project-info-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 201px;

}
.project-info-wrap>div {
    height: 99px;
}
.imaga {
    float: right;
}

.admiral-img {
    min-width: 679px;
    min-height: 482px;
}

.online-control {
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    /* margin-top: 92px; */
}
.camera-image {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.arrow {
    color: #FFFFFF;
    display: inline-block;
    line-height: 1;
    -webkit-transform: scaleX(3) scaleY(2);
    -moz-transform: scaleX(3) scaleY(2);
    -ms-transform: scaleX(3) scaleY(2);
    transform: scaleX(3) scaleY(2);
    position: relative;
    top: -3px;
    left: 15px;
    font-size: 15px;
    font-family: Arial;
    margin-right: 45px;
    cursor: pointer;
}
.slider {
    display: flex;
}
.radio {
    margin: 0 30px;
}
.radiopoint {
    margin-right: 17px;
    width: 10px;
    cursor: pointer;
}
.Step3 {
    max-width: 1440px;
    margin: 0 auto;
    /* background: #FFFFFF; */
}
.camcover {
    text-align: center;
    margin-top: -216px;
    margin-bottom: 62.5px;
}
.cam-control {
    width: 817px; 
    height: 434px; 
}
.dash-image {
    display: flex;
    justify-content: center;
    margin-bottom: 34.5px;
}
.camera-desription {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 681px;
    margin:  0 auto 91.5px;
}
input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    color: #363636;
}
#submit {
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height */
    border: none;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 51px;
    color: #FFFFFF;
    cursor: pointer;
}
.agree {
    cursor: crosshair;
    width: 18px;
    height: 18px;
    background: #E3B873;
    border-radius: 1px;
    margin-right: 8.62px;

}
label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.inform>label {
    display: flex;
    flex-direction: column;
}
.inform {
    height: 51px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.second-checkbox {
    display: none;
}
.input{
    width: 231px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.name {
    margin-right: 58px;
}
.phone {
    margin-right: 49px;
}
.agreelabel {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    /* or 23px */
    color: #181818;
    display: flex;
    justify-content: center;
    margin-bottom: 147.85px;
}
.pesronal-data-input {
    width: 769px;
    align-items: center;
    margin: auto;
}
.Step4 {
    max-width: 1440px;
    margin: 0 auto;
}
.wrap4 h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}
.repair-image {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.types-of-repair {
    display: flex;
    justify-content: center;
    /* position: relative; */
}
.listname {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 13px;    
}
.list-of-works {
    width: 267px;
    /* padding: 0px 29px 49px 34px; */
    /* position: relative; */
    list-style: none;
}
.list-of-works li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.priceperM2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 32px;

}
.type-desription {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: absolute;
    max-width: 286px;
    max-height: 330px;
    padding: 25px 29px 49px 34px;
    left: 32px;
    bottom: 28px;
}
.redecorating {
    background-image: url(../Images/Section2/typesofrepair/redecorating.svg);
    margin-right: 30px;
    width: 392px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 608px;
}
.Overhaul {
    background-image: url(../Images/Section2/typesofrepair/overhaul.svg);
    margin-right: 30px;
    width: 392px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 608px;

}
.Designer {
    background-image: url(../Images/Section2/typesofrepair/designer.svg);
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 392px;
    height: 608px;
}
.wrap4 {
    margin-bottom: 34px;
}
.Step5 {
    max-width: 1440px;
    margin: 124px auto 500px;
    display: flex;
    flex-wrap: wrap;
}
.wrap5 {
    margin-left: auto;
    margin-right: 131px;
}
.pathwrap {
    background-image: url(../Images/Section3/Backround.svg);
    height: 645px;
    width: 703px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    display: flex;
}
.thepath {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 473.62px;
    margin: 117.14px 79.19px 54.24px auto;
    width: 374.81px;
}
.stagewrap {
    display: flex;
    align-items: center;
}
.zero {
    width: 42px;
    height: 42px;
    border-radius: 30px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    box-sizing: content-box;
}
.one {
    margin-right: 11px;
}
.two {
    margin-right: 8.39px;
}
.three {
    margin-right: 6.25px;
}
.four {
    margin-right: 5.24px;
}
.stage {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.Call-form {
    Width: 506px;
    Height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.Call-form__content {
    Width: 408px;
    Height: auto;
    margin: auto auto;
    padding-top: 26px;
}
.Call-form__content__title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    max-width: 297px;
    text-align: center;
    margin: 0px auto 39px;
}
.Call-form__content label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.Call-form__content input {
    display: flex;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #131313;
    width: 408px;
    margin-bottom: 48px;
}
.Call-form__content input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.first-checkbox__label>.checkbox {
    display: none;
}
.checkbox__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}
.first-checkbox {
    /* text-align: center; */
    margin-bottom: 39px;
    margin-top: -32px;
}
.Call-form__content__button {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    width: 213px;
    height: 51px;
    border: none;
    margin-left: 195px;
}
.request {
    margin-top: 106px;
}
.discount {
    width: 72px;
    height: 72px;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50%;
    margin-right: 25px;
}
.discount:active {
    background-color: rgba(34, 14, 14, 0.05)
}
.discount-slogan {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15); 
    width: 344px;
    margin-right: 132.5px;
    text-align: left;
}
.adv {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 38.44px;
}
.pokras6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Section3/backgroundstep6.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover ;
    margin-bottom: 110px;
}
.Step6 {
    margin: 0 auto;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Section3/backgroundstep6.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: auto 1017.86px; */
    max-width: 1440px;
}
.wrap6 {
    display: flex;
    height: 864px;
}
.elem1__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    max-width: 411px;
    margin-bottom: 47px;
}

.active-item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    border-bottom: 0.66px solid #E3B873;
    color: #E3B873;
    width: 146.23px;
    margin-bottom: 13px;
}
.item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 11px;
}
.elem1 {
    padding: 137.47px 77px 72.53px 99px;
    margin-right: 77px;
}
.fant {
    list-style: none;
}
.elem2 {
    display: flex;
    max-width: 353px;   
}
.elem2__image-clock {
    margin-top: -40.53px;
    margin-bottom: 39.1px ;
    margin-right: 43px;
}
.elem2__image-room {
    margin-top: -112.53px;
    margin-bottom: 37px;
}
.elem3-for-mobile {
    display: none;
}
.Step7 {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 219px;
    background: url(../Images/Section3/FrameR.svg) right bottom no-repeat,
                url(../Images/Section3/FrameL.svg) left bottom no-repeat;

}
/* .wrap7 {

} */
.clients-header {
    text-align: center;
}
.clients-header__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13.49px;
}
.clients-header__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-bottom: 39px;
}
.deal-image {
    margin-bottom: 24.16px;
}
.clients {
    display: flex;
    justify-content: space-between;
    margin-left: 103px;
    margin-right: 101px;
}
.clients__block__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;  
    
}
.clients__block__feedback {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    /* or 23px */
    color: #959595;  
    padding: 0px 31px 90px 21px ;  
}
.clients__block__clients-project {  
    /* font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF; */
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    max-width: 294px;
    margin-top: -27px;

}
.clients__block {
    max-width: 376px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    max-height: 428px;
    margin-bottom: 381.65px;
}
.profile {
    display: flex;
    align-items: center;
    padding: 24px 79px 0px 20px;
}
.clients-photo {
    width: 90%;
    height: 90%;
    /* object-fit: fill; */
}
/* .maria .clients-photo {
    width: 62px;
    object-fit: cover;
} */

.clients-photo-cover {
    /* border-radius: 50%;  не делается ширина нормального размера и круг соответственно. Оставлю пока просто фоновый квадрат*/
    overflow: hidden;
    width: 76px;
    height: 76px;
    background-color: #959595;
    margin-right: 23px;
    margin-bottom: 22px;
}
.clients__block__clients-project__area {
    display: flex;
    align-items: center;
    padding: 11px 14px 12px 17px;
    border-right: 0.75px solid #FFFFFF;
}
.area-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 15px;
    margin-right: 14px;
}
.clients__block__clients-project__deadline {
    display: flex;
    align-items: center;
    padding: 11px 12px 12px 17px;
}
.deadline-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;   
    margin-right: 14px; 
    margin-left: 15px;
}
footer {
    background-color:#131313;
    z-index: 52213123123123;
}
.pokras8 {
    background-image: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url(../Images/Section3/backgroundstep8.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.Step8 {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    /* background-image: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url(../Images/Section3/backgroundstep8.svg);
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: bottom; */
    height: 954px;
    position: relative;
}
/* #questions__agree {
    cursor: crosshair;
    width: 18px;
    height: 18px;
    background: #E3B873;
    border-radius: 1px;
} */
.wrap8 {
    width: 883px;
    height: 445.32px;
    background: #C4C4C4;
    margin:  auto;  
    text-align: left;
    /* margin-top: -216px; */
    margin-bottom: 62.5px;
    position: relative;
    top: -216px;
}
/* .questions-form__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;    
} */
/* .questions-form {
    width: 520px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.contant-info {
    text-align: center;
    position: relative;
    top: -216px;
}
.Step8__contant-info_text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;    
}
/* #questions__button-submit {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border-radius: 2px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 51px;
    color: #FFFFFF;
    cursor: pointer;
} */

.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    margin-right: 8.62px;
    cursor: pointer;
    align-items: center;
    border-radius: 1px;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.qform {
    Width: 883px;
    Height: 445.32px;
    background: black;
    /* На макете бекграунд такого цвета... */
}
.qform__content {
    Width: 520px;
    Height: 376.52px;
    margin: auto auto;
    padding-top: 34.4px;
}
.qform__content__title {
    text-align: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
}
qform__form__content__full-name__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5); 
}
.qform__content input {
    display: flex;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: black;
}
.qform__content input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.first-checkbox__label>.checkbox {
    display: none;
}
.checkbox__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}
.qform__form__content__full-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}
#quest-form__name, #quest-form__phone {
    width: 231px;
}
#quest-form__quest {
    width: 517px;
    margin-bottom: 46.46px;
}
.first-checkbox__label {
    display: flex;
    justify-content: center;
}
.first-checkbox {
    text-align: center;
    margin-bottom: 50.45px;
}
.qform__content__button {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;   
    width: 200px;
    height: 51px;
    border: none;
    margin-left: 160px;
}

.frame-map {
    width: 925px;
    height: 465px;
    margin-bottom: 66px;
    /* position: relative;
    top: -216px; */
    margin-top: -216px;
}
.contant-info__button {
    background: #E3B873;    
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-bottom: 30px;
    margin: 26px 7px 30px ;
}
.questions__agreelabel {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    /* or 23px */
    color: #FFFFFF;
}
.imaga__mobile-slider {
    display: none;
}
@media screen and (min-width: 769px) and (max-width: 1299px) {
    
}
@media screen and (min-width: 375px) and (max-width: 768px) {
    .head {
        max-width: 100%;
        margin: 0 auto;
        padding: 23px 18px ;
        height: 57px;
        display: flex;
        justify-content: space-between;
    }
    nav {
        display: none;
    }
    .ebutton {
        display: none;
    }
    .phone-number {
        text-align: right;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        color: #FFFFFF;
        text-decoration: none;
        margin-right: 0px;
    }
    .Step1 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(../Images/Section1/Background.svg);
        max-width: 100%;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 2;
    }
    /* .image-filter {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.7;
        z-index: -2;
    } */
    .wrap1 {
        max-width: 1440px;
        margin: 0 auto;
        padding: 85px 18px 61px;
    }
    .zagolovokh1 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 132.83%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 19px;   
    }
    .rostovcolor {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 132.83%;
        text-transform: uppercase;
        color: rgba(227, 184, 115, 1);
    }
    .op-text {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135.84%;
        color: #FFFFFF;
        max-width: 339px;
    }
    .br-desk {
        display: none;
    }
    .br-mob {
        display: block;
    }
    .ebutton2 {
        padding: 18px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        background: rgba(227, 184, 115, 1);
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        outline: 0px;
        border: 0px;
        margin-right: 0px;
        margin-top: 32px;
        width: 100%;
        margin-bottom: 26px;
    }
    .ebutton3 {
        padding: 17px 27px;
        text-transform: uppercase;
        color:  #FFFFFF;
        background: rgba(0, 0, 0, 0);
        border-radius: 2px;
        border: 1px solid  #FFFFFF;
        box-sizing: border-box;
        outline: 0px;
        width: 100%;   
    }
    .ebutton3__span {
        display: none;
    }
    .Step2 {
        max-width: 1440px;
        background: #131313;
        margin: 0 auto;
        padding-bottom: 257px;
    }
    .wrap2 {
        padding: 0px 0px;   
    }
    .project-navigation {
        display: none;
    }
    .project-link {
        display: flex;
        list-style-type: none;
        margin-left: auto;
        justify-content: space-between;
        width: 679px; 
        padding-right: 56px;
    }
    li>a {
        text-decoration: none;
        text-transform: uppercase;
        font: normal 400 14px/19px "Yeseva One";
        color: rgba(255, 255, 255, 0.3);
    }
    .project-link li:first-child {
        border-bottom: 1px solid #E3B873;
        margin-bottom: 45px;
    }
    .active-project-link {
        color: #E3B873;
    }
    .content>h2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
        padding: 36px 61px 0px;
        margin: 0px auto 22px;
    }
    .content>p {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 158.48%;       
        text-align: center;
        color: #FFFFFF;
        margin: 0px auto 36px;
        width: 311px;
    }
    .admiral-img {
        display: none;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .imaga {
        background-image: url(../Images/Mobile/backgroundImaga.svg);
        background-size: auto auto;
        width: 340px;
        height: 241px;
        margin: 36px auto;
        order: 2;
        display: flex;
        align-items: center;
    }
    .imaga__mobile-slider {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .sliderright {
        margin: 0px 13px 0px auto; 
    }
    .sliderleft-button {
        margin: 0px 0px 0px 13px;
    }
    .project-info-wrap h2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 138.6%;
        text-transform: uppercase;
        color: #E3B873;
    }
    .project-info-wrap span {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 135.84%;
        color: #FFFFFF;
    }
    .project-info-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 201px;
        order: 3;
        padding: 0px 16px 0px 18px;
    }
    .project-info-wrap>div {
        height: 99px;
    }
    .online-control {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .slider {
        display: none;
    }
    .Step3 {
        max-width: 100%;
        margin: 0 auto;
        background: #131313;
    }
    .camcover {
        text-align: center;
        margin-bottom: 26px;
    }
    .cam-control {
        width: 340px; 
        height: 207px; 
    }   
    /* ютубовские черные полосы? */
    .dash-image {
        margin-bottom: 21.5px;
    }
    .camera-desription {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 169.8%;
        text-align: center;
        color: #FFFFFF;
        max-width: 340px;
        margin:  0 auto 61.5px;
    }
    input {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 138.72%; 
        color: #FFFFFF;
    }
    #submit {
        background: #E3B873;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        border: none;
        text-align: center;
        text-transform: uppercase;
        width: auto;
        height: 51px;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: -28px;
    }
    .agree {
        cursor: crosshair;
        width: 18px;
        height: 18px;
        background: #E3B873;
        border-radius: 1px;
        display: none;
    }
    label {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
    .inform>label {
        display: flex;
        flex-direction: column;
    }
    .inform {
        height: 311px;
        flex-wrap: nowrap;
        display: flex;
        margin-bottom: 35px;
        flex-direction: column;
        width: 340px;
        margin: auto;
    }
    .input {
        width: 340px;
        border: none;
        border-bottom: 1px solid #FFFFFF;;
        background-color: #131313;
    }
    .input::placeholder {
        font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 138.72%;
    color: #FFFFFF;
    }
    .name {
        margin-right: 0px;
        margin-bottom: 63px;
    }
    .phone {
        margin-right: 0px;
        margin-bottom: 26.5px;
    }
    .agreelabel {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
        display: none;
        justify-content: center;
        margin-bottom: 147.85px;
    }
    .checkbox__label>.checkbox {
        display: none;
    }
    .second-checkbox {
        display: block;
        margin-bottom: 62.5px;
    }
    .pesronal-data-input__form {
        display: flex;
        flex-direction: row;
    }
    .pesronal-data-input {
        width: 340px;
        align-items: center;
        margin: auto;
    } 
    .Step4 {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 83px;
        margin-top: -58px;
        background-color:#FFFFFF;
    }
    .wrap4 h3 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;
        color: #181818;
        margin-bottom: 17px;
    }
    .types-of-repair {
        display: flex;
        flex-direction: column;
    }
    .listname {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
        color: #363636;
        margin-bottom: 10px;    
    }
    .list-of-works {
        margin-top: 10px;
        width: 198px;
        list-style: none;
        height: 241px;
    }
    .list-of-works li {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 169.8%;
        color: #959595;
    }
    .priceperM2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 190px;
        height: 40px;
        bottom: 8px;
        left: 0px;
    
    }
    .type-desription {
        color: #959595;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        position: absolute;
        max-width: 270px;
        max-height: 241px;
        padding: 21px 41px 37px 31px;
        bottom: 28px;
        left: -0px;
    }
    .redecorating {
        background-image: url(../Images/Section2/typesofrepair/redecorating.svg);
        padding: 0px 0px 0px 0px;
        max-width: 340px;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        max-height: 484px;
        margin: 0px auto 51px;
    }
    .Overhaul {
        background-image: url(../Images/Section2/typesofrepair/overhaul.svg);
        padding: 0px 0px 0px 0px;
        max-width: 340px;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        max-height: 484px;
        margin: 0px auto 51px;
    }
    .Designer {
        background-image: url(../Images/Section2/typesofrepair/designer.svg);
        padding: 0px 0px 0px 0px;
        max-width: 340px;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        max-height: 484px;
        margin: 0px auto 47px;
    }
    .wrap4 {
        margin-bottom: 40px;
    }
    .Step5 {
        display: none;
    }
    .Step7 {
        display: none;
    }
    footer {
        display: none;
    }
    .Step6 {
        margin: 0 auto;
        background-image: none;
        max-width: 100%;
    }
    .wrap6 {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .pokras6 {
        background-image: none;
        margin-bottom: 0px;
    }
    .elem1__title {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
        display: flex;
        max-width: 340px;
        margin: 0px auto 24px;
    }
    .elem1 {
        padding: 0px 0px 0px 0px;
        margin-right: 0px;
    }
    .fant {
        display: none;
    }
    .elem2 {
        display: none;
    }
    .elem3-for-mobile {
        background-image: url(../Images/Mobile/CLock.svg);
        background-size: auto auto;
        width: 340px;
        height: 242px;
        margin: 0px auto;
        display: flex;
        align-items: center;
    }
    .Step8 {
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
        background-image: none;
        height: 1195px;
        position: static;
        display: flex;
        flex-direction: column;
        background-color: black;
        padding-top: 173px;
        margin-top: -123px;
    }
    .wrap8 {
        width: 340px;
        height: auto;
        background: #C4C4C4;
        margin:  auto;  
        text-align: left;
        margin-bottom: 62.5px;
        position: static;
    }
    .contant-info {
        text-align: center;
        position: static;
        order: 5;
    }
    .Step8__contant-info_text {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;    
    }
    .frame-map {
        width: 340px;
        height: 255px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin: auto;
        order: 3;
    }
    .contant-info__button {
        background: #E3B873;    
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 13px;
        margin-bottom: 30px;
        margin: 26px 7px 30px ;
    }
    .fake{
        display: inline-flex;
        width: 18px;
        height: 18px;
        background: #E3B873;
        color: #fff;
        justify-content: center;
        margin-right: 8.62px;
        cursor: pointer;
        align-items: center;
        border-radius: 1px;
    }
    .fake::before{
        content:"\2714";
        opacity: 0;
        transition: .2s;
    }
    .checkbox:checked + .fake::before{
        opacity: 1;
    }
    .qform {
        Width: 340px;
        Height: auto;
        /* background: #131313; */
    }
    .qform__content {
        Width: 340px;
        Height: auto;
        margin: auto auto;
        padding-top: 34.4px;
    }
    .qform__content__title {
        text-align: center;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF; 
        margin-bottom: 52px;
    }
    qform__form__content__full-name__label {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5); 
    }
    .qform__content input {
        display: flex;
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        /* background-color: #C4C4C4; */
    }
    .qform__content input::placeholder {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
    }
    .first-checkbox__label>.checkbox {
        display: none;
    }
    .checkbox__text {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
    }
    .qform__form__content__full-name {
        display: flex;
        margin-bottom: 0px;
        flex-direction: column;
    }
    #quest-form__name, #quest-form__phone {
        width: 340px;
        margin-bottom: 63px;
    }
    #quest-form__quest {
        width: 340px;
        margin-bottom: 21.63px;
    }
    .first-checkbox__label {
        display: flex;
        justify-content: left;
    }
    .first-checkbox {
        text-align: center;
        margin-bottom: 67.33px;
        margin-top: 0px;
    }
    .qform__content__button {
        background: #E3B873;
        box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;   
        width: 100%;
        height: 51px;
        border: none;
        margin: auto;
    }
}
@media screen and (min-width: 2559px) {
    .Step3, .Step4, .Step5, .Step6, .Step7, .Step8, footer {
        display: none;
    }
    .Step1, .Step2 {
        max-width: 100%;
    }
    .wrap2 {
        width: 1440px;
        margin: auto;
    }
    .Step1 {
    display: block;
    background: url(../Images/Section1/Background.svg);
    max-width: 100%;
    margin: 0 auto;
    /* height: 707px;  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
    }
}   