@font-face {
    font-family: "Nunito Sans";
    src: url(../Fonts/Nunito_Sans/NunitoSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(../Fonts/Nunito_Sans/NunitoSans-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(../Fonts/Nunito_Sans/NunitoSans-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Yeseva One";
    src: url(../Fonts/Yeseva_One/YesevaOne-Regular.ttf)
}  
* {
    margin: 0px;
    /* border: 1px solid black; */
    font: 400 11px/15px "Nunito Sans";
    box-sizing: border-box;
    padding: 0px;
}
button {
    cursor: pointer;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    transition-delay: 5s;
    transition-duration: 2s;
    transition-property: opacity;
    outline: 0px;
    border: 0px;
}

button:hover {
    opacity: 0.7;
}
button:active {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    color: #333;
}
header {
    background-color:#131313;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    max-width: 1438px;
    margin: 0 auto;
    padding: 0px 90px;

}
nav {
    display: flex;
    /* margin: auto; */
    margin-left: 100px;
}
.head>span {
    color:rgba(227, 184, 115, 1);
}
nav a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin-right: 55px;
    text-transform: uppercase;
}
.active-link {
    color: rgba(227, 184, 115, 1);
}
.phone-number {
    margin-right: 45px;
    text-align: right;
    text-decoration-line: underline;
}
.ebutton {
    padding: 11px 34px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(227, 184, 115, 1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;

}
.Step1 {
    background: url(../Images/Section1/Background.svg);
    max-width: 1440px;
    margin: 0 auto;
    /* height: 707px;  */
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    position: relative;
    z-index: 2;
}
/* .Step1:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
} */
/* .Step1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
} 
  */
.image-filter {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
    z-index: -2;
}
.wrap1 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 194px 134px 208px;
}
.zagolovokh1 {
    font-family: "Yeseva One";
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    color: #FFFFFF; 
    margin-bottom: 19px;   
}
.rostovcolor {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: rgba(227, 184, 115, 1);
}
.op-text {
    font-size: 22px;
    font-weight: 400;
    font-family: "Nunito sans";
    line-height: 36px;  
    color: #FFFFFF;
    /* width: 504px; */
    height: 89px;
}
.ebutton2 {
    padding: 18px 42px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(227, 184, 115, 1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0px;
    border: 0px;
    margin-right: 20px;
    margin-top: 41px;
}
.ebutton3 {
    padding: 17px 27px;
    text-transform: uppercase;
    color:  #FFFFFF;
    background: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border: 1px solid  #FFFFFF;
    box-sizing: border-box;
    outline: 0px;
}
.Step2 {
    max-width: 1440px;
    background: #131313;
    margin: 0 auto;
    padding-bottom: 257px;
}
.wrap2 {
    padding: 107px 134px;   
}
/* .project-navigation {
} */
.project-link {
    display: flex;
    list-style-type: none;
    /* margin-left: 602px; */
    margin-left: auto;
    justify-content: space-between;
    /* float: right; */
    width: 679px; 
    padding-right: 56px;
}
li>a {
    /* display: flex; */
    text-decoration: none;
    text-transform: uppercase;
    font: normal 400 14px/19px "Yeseva One";
    color: rgba(255, 255, 255, 0.3);
}
.project-link li:first-child {
    border-bottom: 1px solid #E3B873;
    margin-bottom: 45px;
}
.active-project-link {
    /* text-decoration: underline; */
    color: #E3B873;
    /* font: normal 400 14px/19px "Yeseva One"; */
    /* text-transform: uppercase; */
}
.content>h2 {
    font: normal 400 27px/37px "Yeseva one";
    text-transform: uppercase;
    width: 253px;
    color: #E3B873;
    letter-spacing: -0.07em;
    margin-bottom: 34px;
}
.content>p {
    font: normal 400 14px/27px "Nunito Sans";
    width: 442px;
    color: #FFFFFF;
    margin-bottom: 42px
}
.project-info-wrap h2 {
    font: normal 400 18px/25px "Yeseva One";
    text-transform: uppercase;
    color: #E3B873;
}
.project-info-wrap span {
    font: normal 400 13px/21px "Nunito Sans";
    color: #FFFFFF;
}
.project-info-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 201px;

}
.project-info-wrap>div {
    height: 99px;
}
.imaga {
    float: right;
}
.online-control {
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    /* margin-top: 92px; */
}
.camera-image {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.arrow {
    color: #FFFFFF;
    display: inline-block;
    line-height: 1;
    -webkit-transform: scaleX(3) scaleY(2);
    -moz-transform: scaleX(3) scaleY(2);
    -ms-transform: scaleX(3) scaleY(2);
    transform: scaleX(3) scaleY(2);
    position: relative;
    top: -3px;
    left: 15px;
    font-size: 15px;
    font-family: Arial;
    margin-right: 45px;
    cursor: pointer;
}
.slider {
    display: flex;
}
.radio {
    margin: 0 30px;
}
.radiopoint {
    margin-right: 17px;
    width: 10px;
    cursor: pointer;
}
.Step3 {
    max-width: 1440px;
    margin: 0 auto;
    /* background: #FFFFFF; */
}
.camcover {
    text-align: center;
    margin-top: -216px;
    margin-bottom: 62.5px;
}
.cam-control {
    width: 817px; 
    height: 434px; 
}
.dash-image {
    display: flex;
    justify-content: center;
    margin-bottom: 34.5px;
}
.camera-desription {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 681px;
    margin:  0 auto;
}
input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    color: #363636;
}
#submit {
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height */
    border: none;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 51px;
    color: #FFFFFF;
    cursor: pointer;
}
#agree {
    cursor: crosshair;
    width: 18px;
    height: 18px;
    background: #E3B873;
    border-radius: 1px;
}
label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.inform>label {
    display: flex;
    flex-direction: column;
}
.inform {
    height: 51px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.input{
    width: 231px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.agreelabel {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    /* or 23px */
    color: #181818;
}
.pesronal-data-input {
    width: 769px;
    align-items: center;
    margin: auto;
}
.Step4 {
    max-width: 1440px;
    margin: 0 auto;
}
.wrap4 h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}
.repair-image {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.types-of-repair {
    display: flex;
    justify-content: center;
    /* position: relative; */
}
.listname {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 13px;    
}
.list-of-works {
    width: 267px;
    /* padding: 0px 29px 49px 34px; */
    /* position: relative; */
    list-style: none;
}
.list-of-works li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.priceperM2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 32px;

}
.type-desription {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: absolute;
    max-width: 286px;
    max-height: 330px;
    padding: 25px 29px 49px 34px;
    left: 32px;
    bottom: 28px;
}
.redecorating {
    background-image: url(../Images/Section2/typesofrepair/redecorating.svg);
    margin-right: 30px;
    width: 392px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 608px;
}
.Overhaul {
    background-image: url(../Images/Section2/typesofrepair/overhaul.svg);
    margin-right: 30px;
    width: 392px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 608px;

}
.Designer {
    background-image: url(../Images/Section2/typesofrepair/designer.svg);
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 392px;
    height: 608px;
}
.wrap4 {
    margin-bottom: 34px;
}
.Step5 {
    max-width: 1440px;
    margin: 124px auto;
    display: flex;
    flex-wrap: wrap;
}
.wrap5 {
    margin-left: auto;
    margin-right: 131px;
}
.pathwrap {
    background-image: url(../Images/Section3/Backround.svg);
    height: 645px;
    width: 703px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    display: flex;
}
.thepath {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 473.62px;
    margin: 117.14px 79.19px 54.24px auto;
    width: 374.81px;
}
.stagewrap {
    display: flex;
    align-items: center;
}
.zero {
    width: 42px;
    height: 42px;
    border-radius: 30px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    box-sizing: content-box;
}
.one {
    margin-right: 11px;
}
.two {
    margin-right: 8.39px;
}
.three {
    margin-right: 6.25px;
}
.four {
    margin-right: 5.24px;
}
.stage {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.request {
    width: 506px;
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    display: grid;
    text-align: center;
    margin-right: 100px;
    margin-top: auto;
}
.request>label {
    color: rgba(255, 255, 255, 0.5);
}
.request>.agreelabel {
    color: #FFFFFF;
}
.request>#submit {
    margin-left: auto;
    margin-right: 49px;
}
.discount {
    width: 72px;
    height: 72px;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50%;
    margin-right: 25px;
}
.discount:active {
   background-color: rgba(34, 14, 14, 0.05)
}
.discount-slogan {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15); 
    width: 344px;
    margin-right: 132.5px;
    text-align: left;
}
.adv {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 38.44px;
}
.Step6 {
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Section3/backgroundstep6.svg);
}
.elem1__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    max-width: 411px;
    
}

.active-item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    border-bottom: 0.66px solid #E3B873;
    color: #E3B873;
    width: 146.23px;
}
.item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}
.elem1 {
    padding: 137.47px 77px 97.53px 99px;
}
.fant {
    list-style: none;
}
